<html>
    <head>
        <title>Madeleines first blog</title>
    </head>
    <body>
        <div>
            <strong>Friday, June 14 2019</strong>

        <div>
            <h1>Madeleines first blog</h1>
        <div>
        <div>
                <h2>About me</h2>
                <p>My name is Madeleine. I am 23 years old and originally from Berlin, Germany.<br> I study law at the University of Cologne and University College London.<br> My website:</p>
                <a href="https://madeleinemd.org">link</a>
    <body>
